{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil magnam minus suscipit ullam! Cupiditate   enim voluptatem deserunt ipsum quisquam, nemo accusamus dolor mollitia dolore similique libero itaque illum quia. Harum fugiat natus magni consectetur at, asperiores rerum quod, veritatis earum beatae eius, est soluta cupiditate animi minima tenetur vel laborum quasi! Numquam, veniam exercitationem perferendis laudantium, odio ratione dolorum incidunt saepe pariatur voluptas consequatur nam minima. Distinctio, numquam laudantium, cupiditate eaque quisquam atque neque saepe dolore debitis, quod aperiam. At aperiam fuga voluptate veritatis, vitae repellat voluptatum quo labore accusamus ut vero ducimus voluptatibus nostrum numquam, quidem, quae culpa in.</p>

  <div class="text-center">
    <a class="btn btn-secondary" href="/signin/">
      Signin
    </a>
    <a class="btn btn-dark" href="/signup/">
      Signup
    </a>
  </div>
  
  </section>
</main>
{% endblock %}